<launch>
    <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>

    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find aama_sim)/worlds/empty.world"/>
        <arg name="paused" value="false"/>
        <arg name="use_sim_time" value="true"/>
        <arg name="gui" value="true"/>
        <arg name="headless" value="false"/>
        <arg name="debug" value="false"/>
    </include>

    <include file="$(find aama_sim)/launch/single_tb3_summon.launch">
        <arg name="tb3_name"  default="tb3_0"/>
        <arg name="x_pos" default="-1.0"/>
        <arg name="y_pos" default="-1.0"/>
        <arg name="z_pos" default=" 0.0"/>
        <arg name="yaw"   default=" 1.57"/>
    </include>
    <include file="$(find aama_sim)/launch/single_tb3_summon.launch">
        <arg name="tb3_name"  default="tb3_1"/>
        <arg name="x_pos" default="-1.0"/>
        <arg name="y_pos" default="1.0"/>
        <arg name="z_pos" default=" 0.0"/>
        <arg name="yaw"   default=" 1.57"/>
    </include>
    <include file="$(find aama_sim)/launch/single_tb3_summon.launch">
        <arg name="tb3_name"  default="tb3_2"/>
        <arg name="x_pos" default="1.0"/>
        <arg name="y_pos" default="-1.0"/>
        <arg name="z_pos" default=" 0.0"/>
        <arg name="yaw"   default=" 1.57"/>
    </include>

    <!--    <arg name="world_name" value="$(find turtlebot3_gazebo)/worlds/turtlebot3_house.world"/>-->

    <!--Simulation Scripts-->
<!--    <node pkg="aama_sim" name="sim_controller" type="simulation_controller.py" output="screen"/>-->
<!--    <node pkg="aama_sim" name="sensor_controller" type="sensor_controller.py" output="screen"/>-->
</launch>
