<launch>
  <arg name="model" default="burger" doc="model type [burger, waffle, waffle_pi]"/>
  <arg name="tb3_name"  default="tb3_0"/>

  <arg name="x_pos" default="-1.0"/>
  <arg name="y_pos" default="-1.0"/>
  <arg name="z_pos" default=" 0.0"/>
  <arg name="yaw"   default=" 1.57"/>


  <!--Robot spawn-->
  <group ns = "$(arg tb3_name)">
    <param name="robot_description" command="$(find xacro)/xacro --inorder $(find aamas_sim)/urdf/custom_turtlebot3_burger.urdf.xacro" />

    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen">
      <param name="publish_frequency" type="double" value="50.0" />
      <param name="tf_prefix" value="$(arg tb3_name)" />
    </node>

    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-urdf -model $(arg tb3_name) -x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos) -Y $(arg yaw) -param robot_description" />
  </group>
</launch>
